{{ define "main" }}
    {{ partial "home/content.html" . }}

    {{- $paginator := partial "helper/paginator.html" . -}}

    <section class="home-recent">
        <h2 class="home-recent-title">最近更新</h2>
    </section>

    <section class="article-list">
        {{ range $index, $element := $paginator.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}

    <section class="home-donate">
        <h3>每一份心意都很珍贵</h3>
        <div class="donate-qr">
            <div class="donate-item">
                <img src="/images/wechat-reward-qr.jpg" alt="微信赞赏码" loading="lazy">
                <span>微信赞赏</span>
            </div>
        </div>
    </section>

    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
